$upload_btn_width: 181px;
$upload_btn_width-sm: 165px;
.searchPage {
  background-color: #ebebeb;
  height: 100vh;
  display: flex;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    min-height: auto;
    height: auto;
  }
  .mainCol {
    width: 40%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    @media (max-width: 992px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 24px;
    }
  }
  .topBar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .searchBarWrap {
    width: 100%;
    max-width: 626px;
    @media (max-width: 767px) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 8px;
    }
  }
  .uploadWrap {
    width: $upload_btn_width;
    flex: 1 0 auto;
    max-width: $upload_btn_width;
    margin-left: 16px;
    @media (max-width: 1200px) {
      width: $upload_btn_width-sm;
      max-width: $upload_btn_width-sm;
      margin-left: 8px;
    }
    @media (max-width: 767px) {
      width: calc(100% - 58px);
      max-width: calc(100% - 58px);
      margin-left: 0;
    }
    .uploadBtn {
      padding: 16px 40px;
      @media (max-width: 1200px) {
        padding: 12px 32px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .inlineWrap {
      position: relative;
    }
    .hiddenField,
    .hiddenField::-webkit-file-upload-button {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }
  }
  .filenameWrap {
    font-size: 18px;
    color: #666666;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .filename {
      border-bottom: 2px solid #666666;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .name {
      display: inline-block;
      max-width: calc(#{$upload_btn_width} - 60px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 1200px) {
        max-width: calc(#{$upload_btn_width-sm} - 55px);
        font-size: 16px;
      }
    }
  }
  .downloadBtn {
    margin-left: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    max-width: 58px;
    flex: 1 0 auto;
    padding: 0;
    @media (max-width: 1200px) {
      width: 50px;
      height: 50px;
      margin-left: 8px;
    }
    .icon {
      display: block;
      width: 26px;
      height: auto;
      @media (max-width: 1200px) {
        width: 22px;
      }
    }
  }
  .content {
    height: calc(100% - 104px);
    &.uploadedFile {
      height: calc(100% - 104px - 35px);
    }
  }
  .iframeWrap,
  .iframe {
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .iframeWrap {
    position: relative;
    .goToSiteLink {
      position: absolute;
      left: 16px;
      top: 16px;
      z-index: 1;
    }
    .goToSiteBtn {
      padding: 0;
      width: 50px;
      height: 50px;
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .asideCol {
    padding: 24px;
    background-color: white;
    width: 60%;
    background: #fff url("../../images/search-bg.jpg") no-repeat center / cover;
    position: relative;
    &.current {
      background: #fff;
    }
    @media (max-width: 992px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      width: 100%;
      min-height: 400px;
    }
  }
}
