.fieldWrap {
  .inputWrap {
    position: relative;
  }
  .eye {
    position: absolute;
    top: 13px;
    right: 24px;
    cursor: pointer;
    @media (max-width: 1200px) {
      display: block;
      width: 32px;
      top: 8px;
      right: 18px;
    }
  }
}
